<h1>Update content</h1>
<p>
	Insert disk '<%= @disk.name %>' on server an click on start button.
</p>

<%= button_to 'Start', updating_content_path(@disk), id: 'start_process', remote: true %>
<div id="process_result"/>
