<h1>Update content</h1>
<p>
	Insert disk '<%= @disk.name %>' on server an click on start button.
</p>

<%= form_tag(updating_content_path(@disk, :format => :json), :id => 'start_process', :remote => true) do %>
  <%= submit_tag("Start") %><div id="loading">Loading</div>
<% end %>
<div id="process_result"></div>
