/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$primary-color: blue;
$current-item-color: $primary-color - 100;
$primary-light-color: $primary-color + 50;
$primary-lighter-color: $primary-color + 100;
$primary-very-light-color: $primary-color + 220;

$button-disabled-color: gray;

@mixin button($button-color) {
	font-size: small;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: blink;
	-webkit-appearance: button;
	box-sizing: border-box;
	background-color: $button-color;
}

@mixin button-hover() {
	background-color: $primary-light-color;
	text-shadow: 2px 2px black;
	color: white;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

nav {
	@include border-radius(10px);
	font-family: arial,sans-serif;
	border: 1px solid #ccc;
	padding: 10px;
	position: fixed;
	float: left;
	width: 7%;
	
	a {
		display: block;
		padding: 2px;
		text-decoration: blink;
		color: black;
	}
	
	a.active {
		color: white;
		background-color: $current-item-color;
		@include border-radius(3px);
	}
	
	a:hover:not(.active) {
		@include button-hover();
		@include border-radius(3px);
	}
}

div.body {
	position: relative;
	left: 9%;
	width: 90%;
	font-family: arial,sans-serif;
}

h1, h2 {
	color:  $primary-color;
	
	a {
		text-decoration: blink;
		color: $primary-color;
	}
}

a.ref {
    text-decoration: blink;
    color: $primary-color;
}

/* Tables */
table {
	border-collapse: collapse;
	margin-top: 5px;
	width: 100%;
}

table, th, td {
	border: 1px solid $primary-color;
}

th {
	background-color:  $primary-color;
	color: white;
	padding: 5px;
	text-align: left;
}

td {
	padding: 3px;
}

td.action {
	white-space: nowrap;
	width: 1px;
}

tr:nth-child(odd) {
	background-color:  $primary-very-light-color;
}

tr:hover {
	background-color: $primary-lighter-color;
}

td.action {
	border: none;
	background-color: white;
}

a.button {
	@include button($primary-color);
}

a.button:hover {
	@include button-hover();
}

.pagination {
	display: block;
	text-align: center;
	margin-top: 10px;
	
	a {
		@include button($primary-color);
	}
	
	a:hover {
		@include button-hover();
	}
}

.previous_page.disabled, .next_page.disabled {
	@include button($button-disabled-color);
}

.button {
	@include button($primary-color);
}

input.button:hover {
	@include button-hover();
}

label {
	font-weight: bold;
}
